body {
  font-family: $global-font-styles; 
}

p {
  margin-bottom: 10px; 
}

$heading-size-1: 56px;
$heading-size-2: 32px;
$heading-size-3: 25px;
$heading-size-4: 18px;
$heading-size-5: 14px;
//caption sizd
$heading-size-6: 20px;

$header-weight: 300;

h1, 
%h1, 
.h1 {
  font-size: $heading-size-1; 
  font-weight: $header-weight;
  text-transform: uppercase; 
  margin-bottom: 1rem;
}

h2, 
%h2, 
.h2 {
  font-size: $heading-size-2; 
  font-weight: $header-weight;
  text-transform: uppercase;
  margin-bottom: 0.7rem;
}

h3, 
%h3, 
.h3 {
  font-size: $heading-size-3; 
  font-weight: $header-weight;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

h4, 
%h4, 
.h4 {
  font-size: $heading-size-4; 
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}