.c-btn {
  display: block;
  padding: 12px 10px; 
  color: $primary-color;
  cursor: pointer;
  align-self: flex-end;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: 400ms; 
  background: #EEEEEE;

  &:hover{
    background: transparentize(#EEEEEE, 0.1)
  }

  &--container {
    display: flex;
    justify-content: space-between;
  

    > .c-btn {
      flex: 0 1 49%;
    }

    &--wrap {
      display: flex; 
      justify-content: center; 
      flex-wrap: wrap;

      > .c-btn {
        flex: 0 1 30%;
        margin: 10px 10px; 
        @include breakpoint-max(md) {
          flex: 0 1 45%;
        }
      }
    }
  }
}

.c-full-width {
  background: #5E6F84;
}