.c-product {
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.05);
  cursor: pointer;
  text-decoration: none;
  color: $black;
  background: $white;
  flex: 0 1 23%;
  min-width: 200px;

  a {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
  }

  img {
    width: 100%;
  } 

  &__btn {
    width: 100%;
    background: none;
    padding: 8px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: auto;
  }

  &:hover {
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
    .c-product__btn {
      background: #00B987;
      color: #fff
    }
  }

  &__title {
    font-weight: 400;
    font-size: 0.9rem;
  }

  &__price {
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    color: $primary-color;
  }
}

.c-star {
  padding: 0 2px;
  svg {
    stroke: $grey-color;
  }

  &--active {
    svg {
      fill: goldenrod;
    }
  }
}