.o-header {
  background: $primary-color;
  width: 100px;
  height: 100vh;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  @include breakpoint-max(md) {
    width: 100vw;
    bottom: 0;
    height: 10vh;
    top: auto;
  }
}